.borna{
	height:38em;
}
.borna-caption{
	margin-top:7em;
}
.abbie{
	height:38em;
}
.sunny{
	height:38em;
}
.sunny-caption{
	margin-top: 5em;
}
.ely{
	height:38em;
}
.jacob{
	height:38em;
}
.jacob-caption{
	margin-top: 9em;
}